table {
    border: 1px solid;
    background-color: rgb(0, 0, 0);
    color: blanchedalmond; /* betűszín */
    font-family: 'Courier New'; /* betűtípus */
    font-size: larger; /* betűméret */
  }

  td {background-color: grey;}
  #keses {
    background-color: red;
  }

  .elso_oszlop{
    background-color: purple;
  }